@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@100;300;400&display=swap');

body {
    margin: 0;
    background-color:#012523;
    font-family: "JetBrains Mono", monospace;
    font-size: 15px;
    font-display: swap;
    line-height: 1.725;
    letter-spacing: normal;
    text-rendering: geometricPrecision;
    flex: 1;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

body p {
    color: #05eef0;
    margin-top: 2px;
}

body h1{
    color: #00b49d;
}

.header{
    margin-left:30%;
    margin-top: 5%;
}

.content{
    margin-top: 4%;
}

.footer{
    margin-top: 15%;
}

.footer p a {
    margin-left: 2px;
}